* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

.text {
    font-size: 25px;
    line-height: 1.2;
    color: black;
    width: 75%;
    margin: 10px auto 50px;
    border: 20px;
    text-align:center; 
    height: auto;
    padding: 20px;
}

/* regular screen */
.flex-center {
    width: 75%;
    display: inline-block;
    margin-left: 25px;
    text-align: left;
    height: auto;
    margin-top: 100px;
    font-size: 35px;
    margin-bottom: 20px;
    padding: 20px;
    margin: 0px;
}

.flex-line-1 {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
}
.question-1 {
    width: 350px;
    height: 222.5px;
    margin: 15px; 
    padding: 15px;
    position: relative;
}

img {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
img:hover { 
    opacity: 1.0;
    filter: alpha(opacity=100);
} 

.flex-line-2 {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
}
.answer-1 {
    width: 200px;
    height: 122.5px;
    padding: 10px;
    margin: 5px 5px 5px 5px
}
.answer-2 {
    width: 200px;
    height: 122.5px;
    padding: 10px;
    margin: 5px 5px 5px 5px
}

.flex-line-3 {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
}
.answer-3 {
    width: 200px;
    height: 122.5px;
    padding: 10px;
    margin: 5px 5px 5px 5px 
}
.answer-4{
    width: 200px;
    height: 122.5px;
    padding: 10px;
    margin: 5px 5px 5px 5px 
}

.overlay{
    display: inline-block;
    text-align: center;
    text-decoration: none; 
    color: black; 
}

/* smaller screen */ 
@media screen and (max-width: 980px){
    .flex-center {
        display: flex;
        justify-content: center;
    }
    .flex-line-1 {
        display: flex;
        flex-flow: wrap; 
        justify-content: center;
        text-align: center; 
    }
    .flex-line-2 {
        display: flex;
        flex-flow: wrap;
        justify-content: center; 
        text-align: center;
    }
    .flex-line-3 {
        display: flex;
        flex-flow: wrap; 
        justify-content: center; 
        text-align: center; 
    }
}

