* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

html { font-size: 22px;}
body { padding: 1rem; }

img {
    opacity: 1;
    filter: alpha(opacity=70);
    width: 350px;
    height: 200px; 
    padding: 10px;
}
.flex-line-1-choice-btn {
    background-color: white;
    color: white;
    padding: 1rem;
    height: 12rem;
    width: 18rem;
}
  

  .card {
      background-color: white;
      color: white;
      padding: 1rem;
      height: 12rem;
      width: 18rem;
  }
  .cards {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-gap: 1rem;
     
  }
  .question-1-gallery {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;

  }

 .button {
    padding: 5px;
    
 }

 .flex-center {
    height: 15vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background-color: red;
    padding: 10px;
}
.start {
    margin: 5px; 
    padding: 5px; 
    justify-content: center;
    align-items: center;
}

/* also dont delete adds multiple images if deleted */ 
.overlay{
    display: inline-block;
    text-align: center;
    text-decoration: none; 
    color: black; 
}

/*do not delete*/
.hide {
    display: none;  
}

  @media (min-width: 600px) {
      .cards { grid-template-columns: repeat(2, 1fr);}
  }